<div class="panel-container show">
    <div>
        <div class="table-responsive">
            <table id="tblcryptoListing" class="table table-lg table-bordered table-hover table-striped w-100 dataTable dtr-inline">
                <thead class="bg-primary-500">
                    <tr>
                        <th class="text-center">COIN</th>
                        <th class="text-center">PRICE IN (A$)</th>
                        <th class="text-center">% CHANGE</th>
                        <th class="text-center">MARKET</th>
                        <th class="text-center">UPDATED</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>