<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CoinTree - Crypto </title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary-500 border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fas fa-coins text-warning"></i>&nbsp;CoinTree</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="loader" style="display:none"></div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CoinTree - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/vendors.bundle.js"></script>
    <script src="~/js/app.bundle.js"></script>
    <script src="~/js/datatables.bundle.js"></script>
    <script src="~/js/site.js"></script>
    <link href="~/css/vendors.bundle.css" rel="stylesheet" />
    <link href="~/css/app.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/fa-solid.css" rel="stylesheet" />
    @RenderSection("Scripts", required: false)
</body>
</html>
